:root {
  --primary-bg: hsl(224, 51%, 55%);
  --secondary-bg: hsl(41, 86%, 59%);
  --terciary-bg: hsl(29, 86%, 59%);
  --light-blue: hsl(224, 59%, 74%);
  --white: hsl(0, 0%, 100%);
  --dark-gray: hsl(0, 0%, 26%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

.hide {
  display: none;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--primary-bg),
    var(--light-blue)
  );
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: var(--white);
  font-family: "Arial", sans-serif;
}

#container,
input,
button {
  border-radius: 5px;
  border: none;
}

#container {
  background-color: var(--primary-bg);
  padding: 1.5rem;
  width: 30%;
  min-width: 350px;
  text-align: center;
}

input,
button {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input {
  color: var(--dark-gray);
  outline: none;
}

#error-msg {
  display: none;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

#search-btn {
  background-color: var(--secondary-bg);
  transition: all 0.3s;
  cursor: pointer;
}

#search-btn:hover {
  background-color: var(--terciary-bg);
}

#city-data {
  font-size: 20px;
  line-height: 2;
}

#city-data i {
  margin-right: 0.5rem;
}

#country-img {
  height: 15px;
  margin-left: 0.5rem;
}

#temperature {
  font-size: 40px;
}

#weather-type {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#humidity span {
  padding: 1rem;
  padding-left: 0;
  border-right: 1px solid var(--white);
}
